.fixed_header{
    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 250px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  background: transparent;
  color:black;
}


.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 400px;
}
